<!-- Hero Section Begin -->
<style>
    #reviewList {
        max-height: 400px;
        overflow-y: scroll;
    }
</style>
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#"></a></li>


                        <% categories.forEach(function(category) { %>
                            <li><a href="#">
                                    <%= category.name %>
                                </a></li>
                            <% }) %>


                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">

                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+65 11.188.888</h5>
                            <span>support 24/7 time</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="/user/assets/img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>
                        <%= findedRecipe.Recipe_Name %>
                    </h2>
                    <div class="breadcrumb__option">
                        <a href="./index.html">Home</a>
                        <a href="./index.html">Vegetables</a>
                        <span>
                            <%= findedRecipe.Recipe_Name %>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Details Section Begin -->
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__item">
                        <img class="product__details__pic__item--large"
                            src="/uploads/images/<%- findedRecipe.Recipe_photo %>" alt="">
                    </div>
                    <div class="product__details__pic__slider owl-carousel">
                        <img data-imgbigurl="img/product/details/product-details-2.jpg"
                            src="/user/assets/img/product/details/thumb-1.jpg" alt="">
                        <img data-imgbigurl="img/product/details/product-details-3.jpg"
                            src="/user/assets/img/product/details/thumb-2.jpg" alt="">
                        <img data-imgbigurl="img/product/details/product-details-5.jpg"
                            src="/user/assets/img/product/details/thumb-3.jpg" alt="">
                        <img data-imgbigurl="img/product/details/product-details-4.jpg"
                            src="/user/assets/img/product/details/thumb-4.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="product__details__text">
                    <h3>
                        <%= findedRecipe.Recipe_Name %>
                    </h3>
                    <div class="product__details__rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                        <span>(18 reviews)</span>
                    </div>
                    <% let totalAmount=0 %>

                        <% ProductsList.forEach(function(obj) { %>
                            <% const averagePrice=parseFloat(obj.averagePrice) %>
                                <% if (!isNaN(averagePrice)) { %>
                                    <% totalAmount +=averagePrice %>
                                        <% } %>
                                            <% }); %>

                                                <div class="product__details__price">₺ <%= totalAmount.toFixed(2) %>
                                                </div>


                                                <p>
                                                    <% findedRecipe.Recipe_Ingredients.forEach(function(foodIngredients)
                                                        { %>

                                                        <%=foodIngredients.quantity %> x <%= foodIngredients.name %><br>
                                                                <% }); %>

                                                </p>

                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                aria-selected="true">Tarif Detayı</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                aria-selected="false">Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                aria-selected="false">Reviews <span>(1)</span></a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__tab__desc">
                                <h6>Tarif Detayı</h6>
                                <p>
                                    <%=findedRecipe.Recipe_Description %>
                                </p>
                            </div>
                        </div>
                        <div class="tab-pane" id="tabs-2" role="tabpanel">
                            <div class="video-container">
                                <iframe id="videoFrame" width="560" height="315" frameborder="0"
                                    allowfullscreen></iframe>

                            </div>

                        </div>


                        <div class="tab-pane" id="tabs-3" role="tabpanel" style="text-align: center;">
                            <!-- Review List -->
                            <ul id="reviewList">
                                <% reviews.forEach(function(obj) { %>
                                    <li>
                                        <strong>
                                            <%= obj.reviewer %>
                                        </strong>
                                    </li>
                                    <li>
                                        <span class="rating">Puan: <%= obj.rating %></span>
                                    </li>
                                    <li>
                                        Açıklama: <%= obj.comment %>
                                    </li>
                                    <hr class="review-divider">
                                    <% }) %>
                            </ul>

                            <!-- Review Form -->
                            <form id="reviewForm" action="/reviews/<%= findedRecipe._id %>" method="POST" style="text-align: left;">
                                <div class="form-group">
                                    <label for="rating">Puan:</label>
                                    <input type="range" id="rating" name="rating" min="1" max="5" style="color: darkred;" required>
                                </div>

                                <div class="form-group">
                                    <label for="comment">Yorum:</label>
                                    <textarea id="comment" name="comment" required></textarea>
                                </div>

                                <button class="btn-sm primary-btn " type="submit">Değerlendir</button>
                            </form>
                        </div>

                        <style>
                            .form-group {
                                margin-bottom: 10px;
                            }

                            #ratingValue {
                                font-weight: bold;
                            }
                        </style>

                        <script>
                            $(document).ready(function () {
                                $('#rating').on('input', function () {
                                    var rating = $(this).val();
                                    $('#ratingValue').text(rating);
                                });

                                $('.rating-stars .star').click(function () {
                                    var rating = $(this).data('rating');
                                    $('#rating').val(rating).trigger('input');
                                    $('.rating-stars .star').removeClass('selected');
                                    $(this).addClass('selected');
                                });
                            });
                        </script>



                    </div>
                </div>
            </div>
        </div>
</section>
<!-- Product Details Section End -->

<!-- Related Product Section Begin -->
<section class="related-product">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title related__product__title">
                    <h2>İçindekiler</h2>
                </div>
            </div>
        </div>

        <div class="row">

            <% IngredientsList.forEach(function(foodIngredients) { %>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg"
                            data-setbg="/uploads/images/<%- foodIngredients.Ingredients_Photo %>">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">
                                    <%= foodIngredients.Ingredients_Name %>
                                </a></h6>
                            <h5>
                                <%= foodIngredients.Ingredients_Name %>
                            </h5>
                        </div>
                    </div>
                </div>
                <% }); %>

        </div>
    </div>
</section>
<script>





    var youtubeLink = '<%= findedRecipe.Recipe_Video %>';
    var embedLink = generateEmbedLink(youtubeLink);

    document.getElementById('videoFrame').src = embedLink;

    function generateEmbedLink(youtubeLink) {
        var regex = /(?:\?v=|\/embed\/|\/\d{1,2}\/|\/vi\/|\/v\/|https?:\/\/(?:www\.)?youtube\.com\/(?:v\/|embed\/|watch\?v=|watch\?.+&v=)|youtu\.be\/)([^#\&\?\/\s]{11})/;
        var match = youtubeLink.match(regex);

        if (match && match[1]) {
            var videoId = match[1];
            var embedLink = 'https://www.youtube.com/embed/' + videoId;
            return embedLink;
        }

        return null;
    }
</script>